$back-color: #F1FAEE;
$sec-color: #c1eafa;
$dom-color: #457B9D;
$acc-color: #1D3557;
$err-color: #E63946;
$white: #FFF;
$black: #000;

$phone-width: 350px;
$tablet-width: 768px;
$desktop-width: 1000px;