@import "../../config/variables";
@import "../../config/mixins";

.pdf-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  padding: 2px;
  overflow: hidden;
  @include for-tablet-and-up {
    width: 90%;
    margin: 7% auto;
    padding: 5px;
  }
  @include for-desktop-and-up {
    width: 80%;
   margin: 0 auto;
  }
}

.pdf-document {
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
  @include for-tablet-and-up {
    width: 85%;
    margin: auto;
  }
  @include for-desktop-and-up {
    width: 75%;
    margin: auto;
  }
}

.pdf-document .react-pdf__Document {
  overflow: hidden;
  width: 100%;
  @include for-tablet-and-up {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
  }
  @include for-desktop-and-up {
    width: 90%;
  }


}

.pdf-document .react-pdf__Page {
  max-width: calc(100% - 2em);
  //max-width: 70%;
  display: flex;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
  overflow: hidden;
}

.pdf-document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
  overflow: hidden;
}

//.pdf-document .react-pdf__message {
//  padding: 20px;
//  color: white;
//}


.pdf-page-nav-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.pdf-buttons {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
}

.pdf-buttons * {
  margin: 0.3rem;
}

.pdf-buttons button {
  width: 40%;
}

@media only screen and (max-width: $phone-width) {
  .book-details {
    //margin: 10px;
    border-radius: 10px;
  }

  .title {
    font-size: 1.75em;
  }

  .book-id {
    font-size: 0.75em;
  }
}
